body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #000;
}

h1 {
  text-align: center;
  margin: 20px 0 5px 0;
  font-size: 1.23em;
  font-weight: 300;
}

.container {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ddd;
}

.item {
  flex: 1;
  margin: 5px;
  padding: 5px;
  background: tomato;
  text-align: center;
  font-size: 1.5em;
}

.row-nowrap {
  flex-flow: row nowrap;
}
.row-wrap {
  flex-flow: row wrap;
}
.column-nowrap {
  flex-flow: column nowrap;
}
.column-reverse-wrap {
  flex-flow: column-reverse wrap;
}
